@keyframes typewriter {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(0, 0, 0, 0.75); /* Cursor effect */
    animation: typewriter 6s steps(40, end) 1s infinite normal both, blinkTextCursor 0.75s step-end infinite;
    width: 0; /* Hide text initially */
}
